<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/images/signup-cover.jpg);">
					<span class="login100-form-title-1">
						 New Password
					</span>
				</div>
				
				 
				<form class="login100-form validate-form" action="/confirm-password?phone=<%=user.phone  %>" method="post">
					<% var mismatchPassword %>
                    <% if(mismatchPassword) {%>
					<div class="wrap-input100 validate-input m-b-26" data-validate="password  is required">
						<h1 class="label-input100">New Password</h1>
						
						<input class="input100" type="password" name="newpassword" placeholder="Enter new password">
						<span class="focus-input100"></span>
                        
					</div>
                    <span><%=mismatchPassword %></span>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="password  is required">
						<h1 class="label-input100">Confirm Password</h1>
						
						<input class="input100" type="password" name="confirmpassword" placeholder="Renter the new password">
						<span class="focus-input100"></span>
					</div>
                    <%= mismatchPassword  %>


                    <% } else {%>
                        <div class="wrap-input100 validate-input m-b-26" data-validate="password  is required">
                            <h1 class="label-input100">New Password</h1>
                            
                            <input class="input100" type="password" name="newpassword" placeholder="Enter new password">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-26" data-validate="password  is required">
                            <h1 class="label-input100">Confirm Password</h1>
                            
                            <input class="input100" type="password" name="confirmpassword" placeholder="Renter the new password">
                            <span class="focus-input100"></span>
                        </div>
                   
                        <% } %>



					<div style="padding-left: 10px;" class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Proceed
						</button>
					</div>

				

				
					</div>

					
					
				</form>
			</div>
		</div>
	</div>
    <% var success %>
    <!-- Check if there is a success flash message -->
   <% if (success) { %>
        <script>
          // Display SweetAlert success message
          swal({
            title: "Success",
            text: "<%= success %>",
            icon: "success",
            button: "OK",
          });
        </script>
      <% } %> 
         