
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Otp verification
					</span>
				</div>
				
				
				<form class="login100-form validate-form" action="/send-otp" method="post">
					
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<h1 class="label-input100">Phone</h1>
						
						<input class="input100" type="tel" name="phone" placeholder="Enter phone">
						<span class="focus-input100"></span>
					</div>
					<div style="padding-left: 10px;" class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Sendotp
						</button>
					</div>

				

				
					</div>

					
					
				</form>
			</div>
		</div>
	</div>
