<script src="/javascripts/admin-login-js/jquery.min.js"></script>
  <script src="/javascripts/admin-login-js/popper.js"></script>
  <script src="/javascripts/admin-login-js/bootstrap.min.js"></script>
  <script src="/javascripts/admin-login-js/main.js"></script>

	</body>
</html>